# CLASSES

In [311]:
class Employees():
    def __init__(self, Name, ID, Country, Department, JoiningDates, Grade, Disingnation):
        self.Name = Name
        self.Country = Country
        self.Department = Department
        self.JoiningDates = JoiningDates
        self.Grade = Grade
        self.Disingnation = Disingnation
        self.ID = ID
        self.company = "AL-nahdi" # default attribute
    def detailEmployees(self):
        print(f"The Name of Employee is {self.Name}")
        print(f"The ID of Employee is {self.ID}")
        print(f"The Country of Employee is {self.Country}")
        print(f"The Department of Employee is {self.Department}")
        print(f"The Joining Dates of Employee is {self.JoiningDates}")
        print(f"The Grade of Employee is {self.Grade}")
        print(f"The Disingnation of Employee is {self.Disingnation}")
    def picking(self):
        print(f"{self.Grade} is working in Milk Area")
    def receiving(self):
        print(f"{self.Name} is receiving the item in receiving Area")
    def shipping(self):
        print(f"{self.Country} is shipping the item in shipping Area")
        
    def company(self):
        print(f"The company of all Employees is {self.company}")
        
    def setcompanyName(self, newName):
        self.company = newName
    def getcompanyName(self):
        print(f"The name of company is {self.company}")

In [312]:
# how to creat the objects of class

In [313]:
employee1 = Employees("Talha",102330,"India","Diapers", "1.1.2016", "A", "Team Leader")

In [314]:
employee2 = Employees("Noor", 102600, "Bangladesh", "Diapers", "2.2.2019", "B", "Junier Leader")

In [315]:
employee3 = Employees("Aashique", 102602, "India", "Diapers", "2.2.2018", "B", "Junier Leader")

In [316]:
employee4 = Employees("Javeed", 102622, "India", "Diapers", "2.2.2017", "B", "Junier Leader")

In [317]:
employee1.Name

'Talha'

In [318]:
employee2.Name

'Noor'

In [319]:
employee3.Name

'Aashique'

In [320]:
employee1.Country

'India'

In [321]:
employee1.Grade

'A'

In [322]:
employee4.ID

102622

In [323]:
employee1.detailEmployees()

The Name of Employee is Talha
The ID of Employee is 102330
The Country of Employee is India
The Department of Employee is Diapers
The Joining Dates of Employee is 1.1.2016
The Grade of Employee is A
The Disingnation of Employee is Team Leader

# Changing an attributes value

In [324]:
# 1) Direct hit the attribute
# 2) Via function (get set)

In [325]:
employee1.Name

'Talha'

In [326]:
employee1.Name = " Talha Answari"

In [327]:
employee1.Name

' Talha Answari'

In [328]:
employee2.Name = "Noor afsar"

In [329]:
employee2.Name

'Noor afsar'

In [330]:
employee1.company

'AL-nahdi'

In [333]:
employee1.company = "AL-nahdi.ksa"

In [334]:
employee1.company

'AL-nahdi.ksa'

# changing attributes values via functions

In [335]:
employee1.getcompanyName()

The name of company is AL-nahdi.ksa

In [336]:
employee2.getcompanyName()

The name of company is AL-nahdi

In [338]:
employee2.setcompanyName("AL-nahdi.ksa.Abhaa")

In [339]:
employee2.getcompanyName()

The name of company is AL-nahdi.ksa.Abhaa