# for loop

In [14]:
for name in range(5): # 5 will not be included (0,1,2,3,4)
    print(name, "ibrar")

0 ibrar
1 ibrar
2 ibrar
3 ibrar
4 ibrar

In [10]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [11]:
# now we can start  from any number like 1
for number  in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [15]:
# now we can take the step by 2
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [17]:
# can the reverse numbers ordering . yes
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [19]:
cities = ["khi", "multan", "quetta"]
cities

['khi', 'multan', 'quetta']

In [20]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is khi
The city under consideration is multan
The city under consideration is quetta

In [22]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [25]:
 country = "pakistan" # on variable as string then he was done by one by one word/charactor.

for char in country:
    print(char)

p
a
k
i
s
t
a
n

In [26]:
country = "pakistan", "canada" # its a tupples now pick the every valeues.

for char in country:
    print(char)

pakistan
canada

In [27]:
# for loop's break and continue
for number in range(10):
    if number%3==1:
        break
    print(number)

0

In [ ]:
for number in range(10): # now number is 1
    if number%3==1:
        break
        print(number) # now results will be break.

In [28]:
for number in range(10):
    if number%3==0:
        break
        print(number) # its break

In [30]:
for number in range(10):
    if number%3!=0:
        break
    print(number)

0

In [31]:
for number in range(10):
    if number%3!=0:
        break
    print(number)# now next number is 1 then break because 1 is not equel to 0 .

0

In [34]:
for number in [5,7,11,90]:
    if number%2==0:
        break
    print(number)

5
7
11

In [36]:
# continue
for num in range(10):
    if num==7:
        continue
    print(num)

0
1
2
3
4
5
6
8
9

In [38]:
for num in range(10):
    if num==7 or num==4:
        continue
    print(num)

0
1
2
3
5
6
8
9