In [ ]:
print("ibrar")
print("ibrar")
print("ibrar")
print("ibrar")
print("ibrar")

In [2]:
for a in range(5):
    print(a,"ibrar")

0 ibrar
1 ibrar
2 ibrar
3 ibrar
4 ibrar

In [3]:
for b in range(5):
    print(b,"ibrar")

0 ibrar
1 ibrar
2 ibrar
3 ibrar
4 ibrar

In [12]:
for layout in range(10):
    print(layout, "mujy help chaye")

0 mujy help chaye
1 mujy help chaye
2 mujy help chaye
3 mujy help chaye
4 mujy help chaye
5 mujy help chaye
6 mujy help chaye
7 mujy help chaye
8 mujy help chaye
9 mujy help chaye

In [15]:
for bol in range(5):
    print(bol,"55")

0 55
1 55
2 55
3 55
4 55

In [20]:
for number in range(10,1,-3):
    print(number)

10
7
4

In [27]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [31]:
cities = ["khi", "multan", "quetta"]

In [32]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is khi
The city under consideration is multan
The city under consideration is quetta

In [39]:
schools = ["Abbottabad", "Abha", "Riyadh",  "multan"]

In [40]:
for school in schools:
    print(f"the school under consideration is {school}")

the school under consideration is Abbottabad
the school under consideration is Abha
the school under consideration is Riyadh
the school under consideration is multan

In [41]:
for num in [11, 22, 33, 44]:
    print(num)

11
22
33
44

In [42]:
country = "pakistan"
for char in country:
    print(char)

p
a
k
i
s
t
a
n

In [46]:
country = "saudiarab","pakistan"
for char in country:
    print(char)

saudiarab
pakistan

In [56]:
for number in [5,7,11,90]:
    if number%2==0:
        break
    print(number)

5
7
11

In [60]:
for num in range(10):
    if num==7:
        continue
        print(num)