In [5]:
a = 10
print(a)
type(a)

10

int

In [6]:
a = 10.6
print(a)
type(a)

10.6

float

In [3]:
a = "10.6"
print(a)

10.6

In [4]:
type(a)

str

In [7]:
# int a = 12
print(a)

10.6

In [8]:
city = "karachi"
print(city)

karachi

In [9]:
type(city)

str

In [10]:
city = 45
type(city)

int

In [14]:
student_name = "ibrar"
father_name =  "fida"

In [16]:
print(student_name+father_name)

ibrarFIDA

In [18]:
num1 = 100
num2 = 200
sum = num1 + num2
print(sum)

300

In [19]:
# operator {+,-,*,/}
print(23+34)

57

In [20]:
a = 23
b = 34
c = a+b
print(c)

57

In [21]:
value1 = 100
value2 = 10.5
sum = value1-value2
print(sum)

89.5

In [22]:
value1 = 100
value2 = 100
sum = value1-value2
print(sum)

0

In [23]:
value1 = 100
value2 = 100
sum = value1*value2
print(sum)

10000

In [24]:
value1 = 100
value2 = 100
sum = value1value2 python by default floating point divistion
print(sum)

1.0

In [32]:
value1 = 100
value2 = 200
sum = value1%value2
print(sum)

100

In [31]:
a = '22'
b = "33"
c = ab
print(c)

TypeError: not all arguments converted during string formatting